/*001*/
body {
    font: 400 1.1em Tahoma, sans-serif;
    background-color: white;
}


/*001*/
h1 {
    font-family: "Segoe UI", sans-serif;
    font-size: 1.8em;
    font-weight: 700;
    line-height: 2em;
    background-color: #6F1D1B;
    color: white;
    text-transform: uppercase;
    padding-top: 3%;
    padding-bottom: 3%;
    text-align: center;
}


/*001*/
h2 {
    font-family: "Segoe UI", sans-serif;
    line-height: 1.6em;
    background-color: #6F1D1B;
    color: white;
    text-transform: uppercase;
    padding: 0.5em
}


/*001*/
p {
    padding-left: 5%;
    padding-right: 5%;
    text-align: justify;
}

/*001*/
nav {
    background-color: #99582A;
    padding: 1em;
}


/*002*/
nav a {
    float: inline-start;
    color: white;
    padding: 0.8em 1em;
    text-decoration: none;
    font-size: 20px;
}


/*012*/
nav a:hover {
    background-color: #FFE6A7;
    color: black;
}


/*001*/
footer {
    text-align: center;
    position: relative;
}


/*002*/
footer p {
    text-align: center;
}


/*001*/
section {
    background-color: #FFE6A7;
}

/*002*/
figure img {
    margin-left: auto;
    margin-right: auto;
    display: block

}

/*002*/
section video {
    margin-left: auto;
    margin-right: auto;
    display: block
}

/*002*/
section audio{
    margin-left: auto;
    margin-right: auto;
    display: block
}


/*001*/
aside {
    background-color: #FFE6A7;
}


/*001*/
table {
    width: 100%;
    text-align: left;
    border-collapse: collapse;
    background-color: #FFE6A7;
}


/*001*/
caption {
    background-color: #6F1D1B;
    padding: 1.4em;
    font-weight: bold;
    color: #FFFFFF;

}

/*001*//*001*/
th, td{
    padding: 1em;
}

/*001*/
form {
    background-color: #FFE6A7;
    border-radius: 1em;
    border-width: 0.6em;
    border-style: double;
    border-color: #6F1D1B;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}


/*001*/
input {
    outline: none;
    border:  solid 0.01em;
    padding: 1em;
}

/*001*//*001*/
label,
fieldset {
    font-family: "Segoe UI", sans-serif;
}

/*001*/
figcaption {
    text-align: center;
    padding-top: 1em;
}


/*011*/
input[type="submit"] {
    text-decoration: none;
    padding: 0.5em;
    font-weight: 600;
    font-size: 1.1em;
    color: #ffffff;
    background-color: #99582A;
    border-radius: 0.5em;
    margin-top: 0.5em;
    margin-bottom: 0.3em;
}
