
body{
    font: 400 15px Tahoma, sans-serif;
    background-color: #FFFFFF;
    display: grid;
    box-shadow: black;
}

/*1*/
h1 {
	font-family: Segoe UI, sans-serif;
	font-size: 32px;
	font-weight: 700;
	line-height: 26.4px;
	background-color:#6F1D1B;
	color: white;
	text-transform: uppercase;
	padding: 70px 25px;
    text-align: center;

    
    }
/*1*/
h2{
    font-family: Segoe UI, sans-serif;
	line-height: 26.4px;
	background-color:#6F1D1B;
	color: white;
	text-transform: uppercase;
    padding:10px
  }

p{
    text-align: justify;
}
/*1*/
nav{
    background-color: #99582A;
    padding: 14px 24px;

}
/*11*/
nav a {
    float: inline-start;
    color: black;
    
    padding: 14px 24px;
    text-decoration: none;
    font-size: 20px;
  }
  /*21*/
  nav a:hover {
    background-color: #FFE6A7;
    color: black;
  }

  
  footer{
      text-align: center;
  }
footer p{
    text-align: center;
}
section{
    background-color: #FFE6A7;
    
}
article{
    width: 960px;
}
article img{
   width: 200px;
   height: 200px;
}
aside {
    width: 30%;
    padding-left: 15px;
    margin-left: 15px;
    float: right;
    background-color: #FFE6A7;
  }

  /* #222222
    #FFFFFF
    #1C5D99
    #639FAB
    #BBCDE5 */

/* #6F1D1B
#BB9457
#432818
#99582A
#FFE6A7 */

  
  
