/*001*/
body{
    display: grid;
    gap: 10px;
    grid-template-areas: 
            "header header "
            "section1 aside"
            "section2 aside"
            "footer footer"
       ;
       grid-template-columns: 3fr 1fr;
    grid-template-columns: repeat();
}


/*001*/

header {
    grid-area: header
}


/*012*/

body>section:first-child {
    grid-area: section1;
}


/*012*/

body>section:last-child {
    grid-area: section2;
}

/*002*/

figure img {
    margin-left: auto;
    margin-right: auto;
    display: block

}

/*002*/

section video {
    margin-left: auto;
    margin-right: auto;
    display: block
}

section audio{
    margin-left: auto;
    margin-right: auto;
    display: block
}


/*001*/

footer {
    grid-area: footer;
}


/*001*/

aside {
    grid-area: aside;
}


/*002*/

aside section {
    display: flex;
    flex-direction: column;
    gap: 10px;
}


/*003*/

aside section img {
    max-width: 50%;
    align-self: center;
}

@media screen and (max-width: 1300px) {
    /*001*/
    body{
        display: grid;
        gap: 10px;
        grid-template-areas: 
            "header"
            "section1"
            "section2"
            "aside"
            "footer"
       ;
       grid-template-columns: 100%;
    }

    /*001*/
    nav {
        display: grid;
        grid-template-rows: 50% 50%;
        grid-template-columns: 50% 50%;
    }

    /*001*/
    video {
        max-width: 100%;
    }

    figure img {
        max-width: 100%;
    
    }

}